.post{
    color: #000000;
    border: 1px solid black;
    width: 350px;
    padding: 20px;
    margin: 20px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px  black;
}

.post .profilePhoto{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.post .postHeader{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.postImage img{
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.post .postFooter{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

